*/__pycache__
log
*/*/__pycache__
.vscode
input
output
tasks/*/*/__pycache__
pkg/.DS_Store
tasks/.DS_Store
.DS_Store
tasks/liqiyuWorks
scripts/mongo/test.txt
tasks/testapi/test_cases/*/__pycache__
assets
mfwam25
scripts/mongo
scripts/liqiyu
2023
